#IFDEF CPUM68K
-Fu/opt/fpc/lib/fpc/$fpcversion/units/$FPCTARGET/rtl
-Fu/opt/fpc/lib/fpc/$fpcversion/units/$FPCTARGET/rtl/*
-Fu/opt/fpc/lib/fpc/$fpcversion/units/m68k-$FPCTARGET
-Fu/opt/fpc/lib/fpc/$fpcversion/units/m68k-$FPCTARGET/*
#IFDEF ATARI
-FD/usr/bin
-Cp68000
-XV
#ENDIF
#ENDIF
