#IFDEF CPUM68K
-Fu/opt/fpc/lib/fpc/3.3.1/units/atari/rtl
-Fu/opt/fpc/lib/fpc/3.3.1/units/atari/rtl/*
-Fu/opt/fpc/lib/fpc/3.3.1/units/m68k-atari
-Fu/opt/fpc/lib/fpc/3.3.1/units/m68k-atari/*
#IFDEF ATARI
-FD/usr/bin
-Cp68000
-XV
#ENDIF
#ENDIF
